@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --main-text-color: black;
    --main-color: aquamarine;
    --shadow-color: aqua;
    --secondary-color: lightgrey;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
}

header {
    width: 100%;
    height: 10%;
    background-color: var(--main-color);
}

#logo {
    width: 10vw;
}

nav {
    width: 85vw;
    font-size: 2em;
    display: flex;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    display: inline-flex;
}

nav li:hover {
    background-color: var(--shadow-color);
}

nav a {
    text-decoration: none;
    color: var(--main-text-color);
}

main {
    display: flex;
    justify-content: center;
}

#home-main {
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.entry {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.social img {
    width: 100%;
}

.button {
    background-color: var(--main-color);
    border-radius: 10px;
    display: inline;
    padding: 1em;
}

.button a {
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color);
}

.about-container {
    width: 60%;
}

.about-img {
    width: 20em;
    height: 20em;
    float: left;
    margin: 2em;
}

#blog-main {
    flex-wrap: wrap;
    justify-content: center;
}

.blog-prev {
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 10px;
    width: 45%;
    display: flex;
}

.blog-img-container {
    width: 45%;
}

.blog-img-container img {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.blog-text-container {
    width: 50%;
    margin-left: 1em;
    overflow: hidden;
}

#contact-main {
    flex-direction: column;
    align-items: center;
}

form {
    width: 60%;
}

form label {
    font-size: 1.5em;
    display: none;
}

form input {
    display: block;
    width: 100%;
    margin: 0.5em 0 1em 0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 1.5em;
}

form input:focus {
    outline: none;
    border-bottom-style: none;
    border-radius: 10px;
    background-color: var(--main-color);
}

form #message {
    height: 10em;
    text-align: start;
}

form #submit {
    background-color: var(--main-color);
    border-style: groove;
    border-radius: 10px;
    font-size: 1.5em;
}

@media screen and (max-width: 640px) {
    #logo {
        width: 12vh;
    }
    
    nav {
        font-size: 1em;
    }

    .about-container {
        width: 85%;
    }

    .about-img {
        width: 10em;
        height: 10em;
        margin: 0.5em 0.5em 0.5em 0em;
    }

    .blog-prev {
        width: 90%;
        height: 7.25em;
    }

    .blog-text-container h2 {
        margin-bottom: -0.4em;
    }

    form {
        width: 70%;
    }

    form input {
        font-size: 1em;
    }
}