@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
}

header {
    width: 100%;
    height: 10%;
    background-color: aquamarine;
}

nav {
    width: 600px;
    font-size: 2em;
    display: flex;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    display: inline-flex;
}

nav li:hover {
    background-color: blue;
}

nav a {
    text-decoration: none;
    color: black;
}